body {
  background-color: #030c1a6e;
  display: flex;
  justify-content: center;
}

input::placeholder {
  color: #aaa;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
